/*Font Import */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

body{
  font-family: 'Manrope', 'sans-serif';
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 300px; 
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #333333;
    padding-top: 20px; /* Place content 60px from the top */

  }
  
  /* The navigation menu links */
  .sidenav a {
    text-decoration: none;
    color: #fff;
    display: block;
    font-family: 'Manrope', 'sans-serif';
    font-style: normal;
    font-size: 10px;
    line-height: 25px;
    width: 195px;
    margin-top: 302px;
    margin-left: 20px;
  }
  
  
  /* Hover Color change */
  .sidenav a:hover {
    color: #d4f1c9;
  }
  
  /* Style page content */
  .main {
    position: absolute;
    align-content: center;
    width: 50%;
    height: 100%;
    left: 300px;
    top: 0px;
    background-color: #3C3F50;
    color: #fff;

  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  #mySidenav img {
    position: absolute;
    width: 190px;
    height: auto;
    top: 43px;
    left: 60px;
}

.calc-content{
    position: absolute;
    align-content: center;
    width: 600px;
    height: 100%;
    right: 0px;
    top: 0px;
    background-color: #333333;
    color: #fff;
    text-align: center;
    font-family: 'Manrope', 'sans-serif';

}

.main .content_header{
position: absolute;
width: 308px;
height: 33px;
left: 125px;
top: 180px;
font-size: 16px;
}

.investment_text{
  font-size: 10px;
  padding-top: 20px;
}
input {
  background-color: black;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.button_submit{
  background-color: #18D777;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  border-radius: 12px;
  width: 100px;
}

.calc-header{
  margin-left: 20px;
  margin-top: 50px;
  text-align: left;
  
}

.calculations-1{
  margin-top: 50px;
  font-size: 10px;
}

.figures{
  color: #18D777;
  margin-top: 10px;
}

.calculations-2{
  margin-top: 50px;
  font-size: 10px;
  display: inline-block;
  padding-right: 50px;
  padding-left: 50px;
}

#chart{
  margin-top: 75px;
}